/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* -------------Variables */

:root {
    --grey-color: #282828;
    --white-color: white;
    --black-color: #313337;
    /* Tipografía */
    --normal: 12px;
    /* Espaciado */
    --space: 10px;
    --space-2: 20px;
    /* Box shadow */
    --box: 0px 0 2px 1px #e6e5e9;
}


/* -------------Variables */

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

p,
label {
    font-size: var(--normal);
}

label {
    padding-bottom: var(--space);
}

nav {
    display: flex;
    background-color: var(--grey-color);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    position: 1;
}

nav ul {
    display: flex;
    padding-right: 10px;
}

nav ul li {
    padding-left: 20px;
    list-style: none;
    margin-right: var(--space);
}

nav li a {
    font-size: var(--normal);
    color: var(--white-color);
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

nav li:hover {
    transform: scale(1.10);
    transition: linear;
}

hr {
    opacity: .2;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .8);
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 12;
    left: 5px;
    top: 5px;
    color: white;
    display: none;
}


/* ---------------------------Search_Box */

.search_section {
    display: flex;
    height: 200px;
    align-items: center;
}

.search_box {
    display: block;
    width: 70vw;
    margin: auto;
    font-style: "Open-sans";
}

.search_box form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.input_part {
    display: block;
}

.input_part label {
    text-transform: uppercase;
}

.input_part input {
    border: initial;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
}

.icon_location_destiny {
    position: absolute;
    bottom: 2px;
    left: 5px;
    width: 24px;
    height: 24px;
}

.input_destiny {
    position: relative;
    z-index: 1;
    display: flex;
    border: solid lightgray 1px;
    border-radius: 15px;
    overflow: hidden;
}

.input_destiny {
    padding-left: 20px;
}

.search_box_button {
    text-align: center;
}

.search_button {
    background-color: black;
    color: white;
    border: initial;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px 0;
}


/* ------------------------------Here finish the Search_Box */


/* ------------------------ Main section */

.main_section {
    padding: 3%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    height: 95px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 15%;
    display: flex;
}

.product {
    padding: var(--space);
    margin-top: -226px;
}

.product p {
    width: 100%;
}

.content {
    background-color: var(--white-color);
    padding: var(--space-2);
    box-shadow: var(--box);
    border-radius: 3px;
}

.img_content {
    text-align: center;
}

.img_content img {
    height: 150px;
    width: 100%;
}

.main_button {
    background-color: var(--grey-color);
    width: 100%;
    padding: var(--space-2);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    border: var(--grey-color) solid 1px;
}

.sections {
    padding: 10%;
    display: flex;
}

.section {
    padding: 0px 5%;
    text-align: center;
}

.section:hover {
    border-radius: 5px;
    transform: scale(1.05);
    transition: linear;
}

.img_content_section img {
    max-height: 150px;
}

.text_section {
    text-align: justify;
}

.coments {
    padding: 5%;
    display: flex;
}

.coment {
    padding: var(--space);
}

.coment:hover {
    border-radius: 5px;
    transform: scale(1.05);
    transition: linear;
}

.img_content_coment img {
    width: 100%;
}

.coment .text {
    padding: var(--space);
}


/* --------------------------------------modulos */

.formulario_venta {
    padding: 15% 10%;
}

.modulo {
    background: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.data {
    margin-top: var(--space);
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;
}

.modulo_image {
    text-align: center;
    width: 100%;
}

.modulo_image img {
    width: 100%;
}

.modulo .main_button {
    margin-top: var(--space);
}


/* -------------------------------------- fin de losmodulos */


/*--------------------------------------- Footer*/

footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
}